[project]
	description = config file generator for rails
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/poymode (poymode)
[access "refs/for/refs/*"]
	read = group user/poymode (poymode)
	push = group user/poymode (poymode)
	label-Code-Review = -2..+2 group user/poymode (poymode)
	label-Verified = -1..+1 group user/poymode (poymode)
	rebase = group user/poymode (poymode)
	removeReviewer = group user/poymode (poymode)
	submit = group user/poymode (poymode)
[access "refs/heads/*"]
	read = group user/poymode (poymode)
	create = group user/poymode (poymode)
	push = +force group user/poymode (poymode)
	pushMerge = group user/poymode (poymode)
[access "refs/tags/*"]
	push = +force group user/poymode (poymode)
	pushTag = group user/poymode (poymode)
	pushSignedTag = group user/poymode (poymode)
